body{
  text-align: center;
  font-family: helvetica;
}
.back{
  background-image: url("../images/background.png");
  color: white;
  font-weight: bold;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a{
  font-size: 18px;
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
footer{
  color: white;
  text-align: left;
}
